PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=portfolio_irawan_db
DB_USER=portfolio_irawan_user
DB_PASSWORD=change_me

JWT_SECRET=change_me
